<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termo Simples</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>

    <h1>TERMO</h1>

    <div id="grid"></div>

    <div id="mensagem">Digite uma palavra e aperte Enter!</div>
    
    <div id="teclado"></div>

    <button id="btn-reiniciar">Jogar Novamente</button>

    <script src="../../static/js/script.js"></script>
</body>
</html>